# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#IntelliJ Idea Files
.idea
.idea/*

# Vscode's Files
.vscode
.vscode/*

scripts/similarity/config.yml
ats/etc/jupyter/nbconfig/notebook.d/jupyterlab-plotly.json
ats/etc/jupyter/nbconfig/notebook.d/pydeck.json
ats/pyvenv.cfg
ats/Scripts/activate
ats/Scripts/activate.bat
ats/Scripts/Activate.ps1
ats/Scripts/deactivate.bat
ats/Scripts/f2py.exe
ats/Scripts/faker.exe
ats/Scripts/fastavro.exe
ats/Scripts/fonttools.exe
ats/Scripts/httpx.exe
ats/Scripts/jsonschema.exe
ats/Scripts/markdown-it.exe
ats/Scripts/markdown_py.exe
ats/Scripts/nltk.exe
ats/Scripts/normalizer.exe
ats/Scripts/pathy.exe
ats/Scripts/pip.exe
ats/Scripts/pip3.11.exe
ats/Scripts/pip3.exe
ats/Scripts/pyftmerge.exe
ats/Scripts/pyftsubset.exe
ats/Scripts/pygmentize.exe
ats/Scripts/python.exe
ats/Scripts/pythonw.exe
ats/Scripts/spacy.exe
ats/Scripts/streamlit.cmd
ats/Scripts/streamlit.exe
ats/Scripts/tqdm.exe
ats/Scripts/ttx.exe
ats/Scripts/watchmedo.exe
ats/share/doc/networkx-3.1/examples/3d_drawing/mayavi2_spring.py
ats/share/doc/networkx-3.1/examples/3d_drawing/plot_basic.py
ats/share/doc/networkx-3.1/examples/3d_drawing/README.txt
ats/share/doc/networkx-3.1/examples/algorithms/hartford_drug.edgelist
ats/share/doc/networkx-3.1/examples/algorithms/plot_beam_search.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_betweenness_centrality.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_blockmodel.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_circuits.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_davis_club.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_dedensification.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_girvan_newman.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_iterated_dynamical_systems.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_krackhardt_centrality.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_maximum_independent_set.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_parallel_betweenness.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_rcm.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_snap.py
ats/share/doc/networkx-3.1/examples/algorithms/plot_subgraphs.py
ats/share/doc/networkx-3.1/examples/algorithms/README.txt
ats/share/doc/networkx-3.1/examples/algorithms/WormNet.v3.benchmark.txt
ats/share/doc/networkx-3.1/examples/basic/plot_properties.py
ats/share/doc/networkx-3.1/examples/basic/plot_read_write.py
ats/share/doc/networkx-3.1/examples/basic/plot_simple_graph.py
ats/share/doc/networkx-3.1/examples/basic/README.txt
ats/share/doc/networkx-3.1/examples/drawing/chess_masters_WCC.pgn.bz2
ats/share/doc/networkx-3.1/examples/drawing/knuth_miles.txt.gz
ats/share/doc/networkx-3.1/examples/drawing/plot_center_node.py
ats/share/doc/networkx-3.1/examples/drawing/plot_chess_masters.py
ats/share/doc/networkx-3.1/examples/drawing/plot_custom_node_icons.py
ats/share/doc/networkx-3.1/examples/drawing/plot_degree.py
ats/share/doc/networkx-3.1/examples/drawing/plot_directed.py
ats/share/doc/networkx-3.1/examples/drawing/plot_edge_colormap.py
ats/share/doc/networkx-3.1/examples/drawing/plot_ego_graph.py
ats/share/doc/networkx-3.1/examples/drawing/plot_eigenvalues.py
ats/share/doc/networkx-3.1/examples/drawing/plot_four_grids.py
ats/share/doc/networkx-3.1/examples/drawing/plot_house_with_colors.py
ats/share/doc/networkx-3.1/examples/drawing/plot_knuth_miles.py
ats/share/doc/networkx-3.1/examples/drawing/plot_labels_and_colors.py
ats/share/doc/networkx-3.1/examples/drawing/plot_multipartite_graph.py
ats/share/doc/networkx-3.1/examples/drawing/plot_node_colormap.py
ats/share/doc/networkx-3.1/examples/drawing/plot_rainbow_coloring.py
ats/share/doc/networkx-3.1/examples/drawing/plot_random_geometric_graph.py
ats/share/doc/networkx-3.1/examples/drawing/plot_sampson.py
ats/share/doc/networkx-3.1/examples/drawing/plot_selfloops.py
ats/share/doc/networkx-3.1/examples/drawing/plot_simple_path.py
ats/share/doc/networkx-3.1/examples/drawing/plot_spectral_grid.py
ats/share/doc/networkx-3.1/examples/drawing/plot_tsp.py
ats/share/doc/networkx-3.1/examples/drawing/plot_unix_email.py
ats/share/doc/networkx-3.1/examples/drawing/plot_weighted_graph.py
ats/share/doc/networkx-3.1/examples/drawing/README.txt
ats/share/doc/networkx-3.1/examples/drawing/unix_email.mbox
ats/share/doc/networkx-3.1/examples/graph/plot_dag_layout.py
ats/share/doc/networkx-3.1/examples/graph/plot_degree_sequence.py
ats/share/doc/networkx-3.1/examples/graph/plot_erdos_renyi.py
ats/share/doc/networkx-3.1/examples/graph/plot_expected_degree_sequence.py
ats/share/doc/networkx-3.1/examples/graph/plot_football.py
ats/share/doc/networkx-3.1/examples/graph/plot_karate_club.py
ats/share/doc/networkx-3.1/examples/graph/plot_morse_trie.py
ats/share/doc/networkx-3.1/examples/graph/plot_mst.py
ats/share/doc/networkx-3.1/examples/graph/plot_napoleon_russian_campaign.py
ats/share/doc/networkx-3.1/examples/graph/plot_roget.py
ats/share/doc/networkx-3.1/examples/graph/plot_triad_types.py
ats/share/doc/networkx-3.1/examples/graph/plot_words.py
ats/share/doc/networkx-3.1/examples/graph/README.txt
ats/share/doc/networkx-3.1/examples/graph/roget_dat.txt.gz
ats/share/doc/networkx-3.1/examples/graph/words_dat.txt.gz
ats/share/doc/networkx-3.1/examples/README.txt
ats/share/doc/networkx-3.1/examples/subclass/plot_antigraph.py
ats/share/doc/networkx-3.1/examples/subclass/plot_printgraph.py
ats/share/doc/networkx-3.1/examples/subclass/README.txt
ats/share/doc/networkx-3.1/LICENSE.txt
ats/share/jupyter/labextensions/jupyterlab-plotly/package.json
ats/share/jupyter/labextensions/jupyterlab-plotly/static/133.5342d9bec93d5de59ad2.js
ats/share/jupyter/labextensions/jupyterlab-plotly/static/423.d0d3e2912c33c7566484.js
ats/share/jupyter/labextensions/jupyterlab-plotly/static/478.247fddac0148cc4e151b.js
ats/share/jupyter/labextensions/jupyterlab-plotly/static/478.247fddac0148cc4e151b.js.LICENSE.txt
ats/share/jupyter/labextensions/jupyterlab-plotly/static/486.6450efe6168c2f8caddb.js
ats/share/jupyter/labextensions/jupyterlab-plotly/static/486.6450efe6168c2f8caddb.js.LICENSE.txt
ats/share/jupyter/labextensions/jupyterlab-plotly/static/657.d89469e0b1d5bb171fde.js
ats/share/jupyter/labextensions/jupyterlab-plotly/static/855.323c80e7298812d692e7.js
ats/share/jupyter/labextensions/jupyterlab-plotly/static/remoteEntry.f294278414d0a929e4ae.js
ats/share/jupyter/labextensions/jupyterlab-plotly/static/style.js
ats/share/jupyter/labextensions/jupyterlab-plotly/static/third-party-licenses.json
ats/share/jupyter/nbextensions/jupyterlab-plotly/extension.js
ats/share/jupyter/nbextensions/jupyterlab-plotly/index.js
ats/share/jupyter/nbextensions/jupyterlab-plotly/index.js.LICENSE.txt
ats/share/jupyter/nbextensions/pydeck/extensionRequires.js
ats/share/jupyter/nbextensions/pydeck/index.js
ats/share/jupyter/nbextensions/pydeck/index.js.map
ats/share/man/man1/ttx.1
